.g-parent{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows:0.1fr 1fr 0.1fr;
    padding:10px;
    margin:10px;
    grid-row-gap:10px;
    grid-column-gap:20px;
    grid-template-areas: "header header" "sidebar content" "sidebar content" "footer footer";
    background-color: black;
}
.g1{
    background: orange;
    grid-area:header;
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start: 1;


}
.g2{
    background: orangered;
    grid-area: content;
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-end:2;
    grid-column-start:1;
   
}
 .g3{
    background:green;
    grid-area:content;  
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:6;
    
}
.g4{
    background: lightgreen;
    grid-area:footer; 
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start: 3;

    
} 