.g-parent{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-row-gap: 10px;
    grid-column-gap:10px;
    height:100vh;
    background-color: black;
    margin:10px;
    padding:15px;
}
.grid1{
    background-color:orangered ;
    grid-column:1/span 2;
    grid-row:1;
}
.grid2{
    background-color:darkgreen ;
}
.grid3{
    background-color:lightcoral ;
}
.grid4{
    background-color:orange ;
}
.grid5{
    background-color:darkgreen ;
}
.grid6{
    background-color:green ;
}
.grid7{
    background-color:orange ;
    grid-row:3/span 2;
    grid-column:1/span 2;
}
.grid8{
    background-color:green ;
    grid-row:4;
    grid-column:3;
}
.grid9{
    background-color:orangered ;
    grid-column:4;
    grid-row:3;
}
.grid10{
    background-color:darkgreen ;
    grid-row:3;
    grid-column:3;
}
.grid11{
    background-color:green ;
    grid-row:5;
    grid-column:1/span 3;
}
.grid12{
    background-color:orange ;
    grid-row:5;
    grid-column:4;
}
