body{
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
    background-color:antiquewhite;
    border:1px solid;
    padding: 10px;
    
}
h2{
    color:rgba(0, 13, 255, 0.471);
}
ol{
    display:block;
    justify-content: flex-start;
}

 #navlinks ul
{
    display: flex;
    right: 10px;
    list-style-type: none;
    gap:10px;
    margin-right:20px;
    padding:0;
    
}

#navlinks
{
    background-color: rgb(101, 160, 160);
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    position:relative;
    z-index:10;
}
#navdivlogo {
    display: flex;
    align-items: center;
}

#navdivlogo img
{
 
   width:30px;
   height:30px;
   margin-right:0px:
}
#navdivlogo h1{
    color: rgb(12, 84, 216);
  
}
footer{
    background-color:rgb(101, 160, 160);
    padding:20px;
    color:black;
    text-align: center;
}
.footer-content {
    display: flex;   
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

footer h3 {
    margin: 0; 
}

footer p {
    margin: 0; 
}
#menu-icon{
    display:none;
    /* margin-right: 20px; */
    cursor:pointer;
    font-size: 24px;
    color:white;
    /* margin-right:auto; */
}
#navdivli {
    display: flex; 
}



@media (max-width:500px)
{
       #navlinks{
        display:flex;
        justify-content: space-around;
        flex-direction: row; 
        align-items: center; 
    }
    
    #menu-icon
    {
        display:inline-block;
        cursor:pointer;
        font-size: 24px;
        color:white;
        margin-left: 10px;      
    }

    #navdivli
    {
        display:none;
        width:100%;
    }
    #navlinks.active #navdivli
    {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        width:100px;
    }

    #navlinks.active ul {
        display:flex;
        flex-direction: column; 
        width:100%;
    }

    section {
        margin-top: 80px;
    }
    }