*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}
#maincontainer{
    width: 600px;
    position:relative;
    left:150px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid ;
    border-radius: 5px;
}
input:hover{
    border :2px solid orange;
}

.error {
    color: orangered;
    font-size:medium;
    display:block;
    margin-bottom:20px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
